
<link rel="stylesheet" href="styles.css">
<header>
    <form action="/score" method="POST">
        <h1>
            <%= answer %>
        </h1>
        <h2>
            Please click on the button to generate confirmation certificate.
        </h2>
        <button method="POST" action="get_cert" type="submit">submit</button>
    </form>

</header>
