<link rel="stylesheet" href="styles.css">
<div class="box">
<form action="/q2" method="post">
        <h2><%= answer %></h2>
        <p> 1. What is Ross’ monkey’s name?</p>
        <p><input type="radio" name="question1" value="Marcel"> A.Marcel </p>
        <p><input type="radio" name="question1" value="Jacob">B.Jacob</p>
        <p><input type="radio" name="question1" value="Marcob">C.Marcob</p>
        <p><input type="radio" name="question1" value="Jarcel">D.Jarcel</p>
        <button type="submit">submit</button>
    
</form>
</div>