<link rel="stylesheet" href="styles.css">

<div class="box">
    <form action="/q3" method="POST">
        <h2><%= answer %></h2>
        <p> 2. What is Pheobe's sister's name?</p>
        <p><input type="radio" name="question2" value="Rachel"> A.Rachel </p>
        <p><input type="radio" name="question2" value="Ross">B.Ross</p>
        <p><input type="radio" name="question2" value="Gunther">C.Gunther</p>
        <p><input type="radio" name="question2" value="Ursula">D.Ursula</p>
        <button type="submit">submit</button>
    </form>

</div>