<link rel="stylesheet" href="styles.css">

<div class="box">
    <form action="/q4" method="post">
        <h2><%= answer %></h2>
        <p> 3. What was the Chandlers Middle name?</p>
    <p><input type="radio" name="question3" value="Mango"> A.Mango </p>
    <p><input type="radio" name="question3" value="Milan">B.Milan</p>
    <p><input type="radio" name="question3" value="Marcob">C.Marcob</p>
    <p><input type="radio" name="question3" value="Muriel">D.Muriel</p>
    <button type="submit">submit</button>
    </form>
</div>