<link rel="stylesheet" href="styles.css">

<div class="box">
    <form action="/q5" method="post">
        <h2><%= answer %></h2>
        <p> 4. What is Ross’ second wife's name?</p>
    <p><input type="radio" name="question4" value="Rachel"> A.Rachel </p>
    <p><input type="radio" name="question4" value="Christine">B.Christine</p>
    <p><input type="radio" name="question4" value="Emily">C.Emily</p>
    <p><input type="radio" name="question4" value="Ruby">D.Ruby</p>
    <button type="submit">submit</button>
    </form>

</div>