<link rel="stylesheet" href="styles.css">
<div class="box">
    <form action="/end" method="POST">
        <h2>
            <%= answer %>
        </h2>
        <p> 5. In which show Joey acted as Dr. Drake Ramoray?</p>
        <p><input type="radio" name="question5" value="Days of our lives"> A.Days of our lives </p>
        <p><input type="radio" name="question5" value="Hunter days">B.Hunter days</p>
        <p><input type="radio" name="question5" value="Good days of our lives">C.Good days of our lives</p>
        <p><input type="radio" name="question5" value="Taken for life">D.Taken for life</p>
        <button type="submit">submit</button>
    </form>
</div>