<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="quiz.css">
	<script type="text/javascript" src="quiz.js"></script>
</head>

  <body>
    <header>
      
      <div class="container">
      <div id="brand">
        <h1> Good Luck!</h1>
      </div>
     
     <section id= "show">
    <div class ="container">
     
     </div>
     </section>

<body>
	<form name="quiz" id="quiz">
		<div>
			<p> 1. What is Ross’ monkey’s name?</p>
			<p><input type="radio" name="question1" value="Marcel"> A.Marcel </p>
			<p><input type="radio" name="question1" value="Jacob">B.Jacob</p>
			<p><input type="radio" name="question1" value="Marcob">C.Marcob</p>
			<p><input type="radio" name="question1" value="Jarcel">D.Jarcel</p>
		</div>

		<div>
			<p> 2. What is Pheobe's sister's name?</p>
			<p><input type="radio" name="question2" value="Rachel"> A.Rachel </p>
			<p><input type="radio" name="question2" value="Ross">B.Ross</p>
			<p><input type="radio" name="question2" value="Gunther">C.Gunther</p>
			<p><input type="radio" name="question2" value="Ursula">D.Ursula</p>
		</div>

		<div>
			<p> 3. What was the Chandlers Middle name?</p>
			<p><input type="radio" name="question3" value="Mango"> A.Mango </p>
			<p><input type="radio" name="question3" value="Milan">B.Milan</p>
			<p><input type="radio" name="question3" value="Marcob">C.Marcob</p>
			<p><input type="radio" name="question3" value="Muriel">D.Muriel</p>
		</div>

		<div>
			<p> 4. What is Ross’ second wife's name?</p>
			<p><input type="radio" name="question4" value="Rachel"> A.Rachel </p>
			<p><input type="radio" name="question4" value="Christine">B.Christine</p>
			<p><input type="radio" name="question4" value="Emily">C.Emily</p>
			<p><input type="radio" name="question4" value="Ruby">D.Ruby</p>
		</div>

		<div>
			<p> 5. In which show Joey acted as Dr. Drake Ramoray?</p>
			<p><input type="radio" name="question5" value="Days of our lives"> A.Days of our lives </p>
			<p><input type="radio" name="question5" value="Hunter days">B.Hunter days</p>
			<p><input type="radio" name="question5" value="Good days of our lives">C.Good days of our lives</p>
			<p><input type="radio" name="question5" value="Taken for life">D.Taken for life</p>
		</div>


		<input type="button" name="" value="Please Submit" onclick="check()">
	</form>
	 
</body>
</html>

