<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width= device-width">

    <title> QUIZ | welcome </title>
    <link rel="stylesheet" href="scores.css">
  </head>
<header>
    <h1> Thank You for playing with us <%= name %>  </h1>
    <h2>Certificate for playing everyones favourite game FRIENDS.
      THIS IS TO CERTIFY THAT HAS COMPLETED THE QUIZ.
    </h2>
</header>
  